<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Index | Stocks</title>

    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

    <link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css" />
</head>
<body>
    <noscript>
        <h2>Seems your browser doesn't support Javascript! Websocket relies on Javascript being enabled. Please enable Javascript and reload this page!</h2>
    </noscript>

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h1>Welcome to your stocks</h1>
            <hr/>
            <h3>Stocks will appear here as they come in:</h3>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Current Price</th>
                    <th>Last Update</th>
                </tr>
                </thead>
                <tbody id="stocksContainer">
                <tr th:each="stock: ${stocks}">
                    <td th:text="${stock.id}"></td>
                    <td th:text="${stock.name}"></td>
                    <td th:text="${stock.currentPrice}"></td>
                    <td th:text="${stock.lastUpdate}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-3"></div>
    </div>

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/webjars/sockjs-client/1.0.2/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/2.3.3/stomp.min.js"></script>
    <script src="/app.js"></script>
</body>
</html>